<h1>Your Active Orders</h1>
<hr/>
<table class="table table-bordered">
  <tr>
    <th>Order Details</th>
    <th>Items</th>
    <th>Total</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to order do %>
          <%= order.id %>
        <% end %>
      </td>
      <td>
        <ul>
      <% order.line_items.each do |line_item| %>
            <li><%= line_item.product.name %></li>
      <% end %>
        </ul>
      </td>
      <td><%= humanized_money_with_symbol order.total %></td>
    </tr>
  <% end %>
</table>
